@use "variables";

body {
  // background-color: variables.$bg;
  background: linear-gradient(to bottom right, variables.$bg2, variables.$bg);
  margin: 10rem;
  color: var(--text);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 1.5rem;
}
